<!DOCTYPE html>
<html lang="en">

    <%- include('../head.ejs') %>

    <body >


        <div class="w3-border w3-white" id="bde-block" style="max-width: 750px;">	
            <div style="margin-left: 10%; width: 80%; margin-bottom: 10%; margin-top: 10%;">
                <h3>Inscription:</h3>
                <form id="form" action="...." method="POST" enctype="multipart/form-data">
                    <label>Pseudo:</label>
                    <input id="pseudo" class="w3-input" name="pseudo" type="pseudo" maxlength="64" required/><br/>
                    <label>Email:</label>
                    <input id="email" class="w3-input" name="email" type="email" maxlength="64" required/><br/>
                    <label>Mot de passe:</label>
                    <input id="password" class="w3-input" name="password" type="password" maxlength="32" required /><br/>
                    <label>Confirmer le mot de passe:</label>
                    <input id="password-confirm" class="w3-input" type="password" maxlength="32" required /><br/>
                    <button type="submit" class="w3-button w3-border w3-light-grey w3-hover-grey w3-round">S'enregistrer</button>
                
                    <div class="" style="margin-bottom: 15px; margin-top: 15px;">
                        <a href="/login" class="w3-button w3-border w3-light-grey w3-hover-grey w3-round">Déjà inscrit</a>
                        <a href="/forgot" style="display: inline-block;">Mot de passe oublié?</a>
                    </div>
                </form>
            </div>
        </div> 



    </body>
</html>
